@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Common properties */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-primary);
  background-color: var(--bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --highlight: #4daafc;
  --light: #ffffff;

  --danger: #d10819;
  --success: #0e9b71;
}

:root.dark {
  --bg-primary: #212830;
  --bg-secondary: #1a2028;
  --accent: #2d343d;
  --accent-secondary: #343d49;
  --text-highlight: #f2f2f3;
  --text-secondary: #878787;
  --text-primary: #c7c7c7;
}

:root.light {
  --bg-primary: #f0f0f0;
  --bg-secondary: #e4e6eb;
  --accent-secondary: #dddddd;
  --accent: #ffffff;
  --text-highlight: #ffffff;
  --text-secondary: #888888;
  --text-primary: #3d3d3e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #212830;
    --bg-secondary: #1a2028;
    --accent: #2b333e;
    --accent-secondary: #343d49;
    --text-highlight: #f2f2f3;
    --text-secondary: #cacaca;
    --text-primary: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-primary: #f0f0f0;
    --bg-secondary: #e4e6eb;
    --accent-secondary: #dddddd;
    --accent: #ffffff;
    --text-highlight: #ffffff;
    --text-secondary: #9e9e9e;
    --text-primary: #3d3d3e;
  }
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  max-height: fit-content;
  margin: 0;
  background-color: var(--bg-secondary);
}

#root {
  position: relative;
  display: flex;
  flex: 1;
  padding: 0.75rem;
  gap: 0.75rem;
  flex-direction: column;
  max-width: 1500px;
  width: 100%;
}

.progress-bar {
  width: 100%;
  height: 10px;
  -webkit-appearance: none;
  appearance: none;
}

.progress-bar::-webkit-progress-bar {
  background-color: var(--bg-secondary);
  border-radius: 5px;
}

.progress-bar::-webkit-progress-value {
  background-color: var(--highlight);
  border-radius: 5px;
  transition: width 0.5s;
}

.password-strength::-moz-progress-bar {
  background-color: var(--highlight);
  border-radius: 5px;
  transition: width 0.5s;
}
